html {
    width: 100%;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
}
h1, p {
    margin: 0;
    padding-left: 0.5em;
}

.box {
    box-sizing: border-box;
    display: block;
    border: 1px solid #555555;
    padding: 0 1em 1em 1em;
    margin: 0.5em 0;
}
.box>:first-child {
    box-sizing: border-box;
    display: block;
    margin: 0 -1em 1em -1em;
    height: 1.3em;
    background-color: #222222;
    border-bottom: 1px solid #555555;
    text-align: left;
}
.numInput {
    box-sizing: border-box;
    display: block;
    border: 1px solid #555555;
}


#loginForm {
    text-align: center;
}
.buttons {
    background-color: #00000000;
    box-sizing: border-box;
    color: #FFFFFF;
    border: 1px solid #555555;
    box-shadow: none;
    padding: 0.8em 0.3em;
    margin: 0.1em 0;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
.buttons:hover {
    border: 1px solid #21b3d2;
    box-shadow: 0 0 3px #21b3d2;
}
.buttons:focus {
    border: 1px solid #21b3d2;
    box-shadow: 0 0 5px #21b3d2;
}
.buttons:active {
    border: 1px solid #b7e117;
    box-shadow: 0 0 10px #b7e117;
}
.largeButton {
    background-color: #00000000;
    box-sizing: border-box;
    color: #FFFFFF;
    border: 1px solid #555555;
    box-shadow: none;
    font-size: 25px;
    padding: 0.3em;
    margin: 0.1em 0;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
}
.largeButton:hover {
    border: 1px solid #21b3d2;
    box-shadow: 0 0 3px #21b3d2;
}
.largeButton:active {
    border: 1px solid #b7e117;
    box-shadow: 0 0 10px #b7e117;
}


#coins>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
#bet {
    background-color: #000000;
    color: #FFFFFF;
}

#playerList {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  [class*="triple"] {
    width: 33.33%;
  }
}
.isHidden {
    display: none;
}